@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dela Gothic One';
    src: url('../../public/assets/fonts/DelaGothicOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #FFFFFF;
    --color-white-alternate: #DCDCDC;

    --color-green: #1A7430;
    --color-green-dark: #0F511E;
    --color-green-light: #21983E;
    --color-green-light-alternate: #25AD46;

    --color-green-linear: linear-gradient(42deg, #0A883B 0%, #45BD4A 86.6%);

    --color-black: #323232;
    --color-black-35: rgba(0, 0, 0, 0.35);;

    --color-gray-10: rgba(50, 50, 50, 0.10);
    --color-gray-30: rgba(50, 50, 50, 0.30);
    --color-gray-50: rgba(50, 50, 50, 0.50);
    --color-gray-60: rgba(50, 50, 50, 0.60);
    --color-gray-80: rgba(50, 50, 50, 0.80);

    --font-family-base: 'Lab Grotesque';
    --font-family-accent: 'Dela Gothic One';
}

body{
    margin: 0;
}

/* секция "о бренде" */
.about-brand-section {
    background-image: url('../../public/assets/images/AboutBrandBackground.png');
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--color-black-35); /* применение цветового фильтра повверх изображения */
    background-blend-mode: overlay;
    position: relative;
}

/* шапка внутри секции "о бренде" */
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
    max-width: 1160px;
    color: var(--color-white);
}

.header-menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin: 0;
}

.header-menu-link {
    text-decoration: none;
    color: currentColor;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-family-base), sans-serif;
    font-weight: 400;
    font-style: normal;
    text-wrap: nowrap;
    margin: 0 3px;
}

.header-menu-item.active {
    padding-bottom: 3px;
    border-bottom: 1px solid currentColor;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

.header-actions-item{
    height: 21px;
    width: 21px;
    background-color: var(--color-white);
    border-radius: 50%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-actions-item-switch{
    background-color: var(--color-white);
    border-radius: 15px;
    width: 58px;
}

.about-brand{
    margin: 0;
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.about-brand-title{
    text-wrap: nowrap;
    text-transform: uppercase;
    font-family: var(--font-family-accent), sans-serif;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.about-brand-subtitle{
    margin: 0;
    justify-self: start;
    font-family: var(--font-family-base), sans-serif;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.about-brand-button{
    margin-top: 60px;
    font-family: var(--font-family-base), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 169px;
    height: 32px;
    background-color: var(--color-white);
    align-items: center;
    border-radius: 20px;
    border: none;
}

.process-steps-section{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    padding: 20px;
    row-gap: 30px;
    margin: 60px auto auto;
}

.title-process-steps-section{
    font-family: var(--font-family-accent), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    max-width: 285px;
    color: var(--color-black);
    line-height: 32px;
    margin:0;
}

.description-process-steps-section{
    font-family: var(--font-family-base), sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 570px;
    margin: 0;
}

.button-process-steps-section{
    font-family: var(--font-family-base), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background-color: var(--color-green);
    color: var(--color-white);
    width: max(169px, 188px);
    min-height: 32px;
    border-radius: 20px;
    align-self: center;
    border: none;
}

.button-camera-icon{
    margin-left: 5px;
}

.process-steps-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.brand-cycle-card {
    height: 100px;
    width: 373px;
    display: flex;
    align-items: center;
    align-content: start;
    padding: 20px;
    box-sizing: border-box;
    column-gap: 20px;
}

.brand-cycle-card.with-image{
    background-image: url(../../public/assets/images/cylces-border-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.brand-cycle-card.with-border{
    border-radius: 16px;
    border: 1px solid var(--color-white-alternate);
}

.number-cycle-card{
    flex-shrink: 0;
    text-align: center;
    align-content: center;
    font-family: var(--font-family-accent), sans-serif;
    color: var(--color-green);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 60px;
    width: 60px;
    position: relative;
}

.number-cycle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.name-cycle-card{
    text-align: start;
    font-family: var(--font-family-base), sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-black);
}

.benefits-section{
    max-width: 1160px;
    padding: 20px;
    margin: 20px auto auto;
}

.benefits-title{
    max-width: 325px;
    margin: 0 0 30px;
    color: var(--color-green-dark);
    font-family: var(--font-family-accent), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.benefit-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.benefit-card{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    max-width: 570px;
}

.benefit-card-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.benefit-card-description{
    flex-grow: 1;
    padding: 25px 30px;
    font-family: var(--font-family-base), sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    margin: -25px 0 0;
    background-color: var(--color-white);
    z-index: 2;
    border: 1px solid var(--color-white-alternate);
    border-radius: 16px;
    white-space: pre-line;
    line-height: 20px;
    color: var(--color-black);
}