@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dela Gothic One';
    src: url('../../public/assets/fonts/DelaGothicOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lab Grotesque';
    src: url('../../public/assets/fonts/LabGrotesque-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-white: #FFFFFF;
    --color-white-alternate: #DCDCDC;

    --color-green: #1A7430;
    --color-green-dark: #0F511E;
    --color-green-light: #21983E;

    --color-black: #323232;
    --color-black-35: rgba(0, 0, 0, 0.35);;

    --color-gray-10: rgba(50, 50, 50, 0.10);
    --color-gray-30: rgba(50, 50, 50, 0.30);
    --color-gray-50: rgba(50, 50, 50, 0.50);
    --color-gray-60: rgba(50, 50, 50, 0.60);
    --color-gray-80: rgba(50, 50, 50, 0.80);

    --font-family-base: 'Lab Grotesque';
    --font-family-accent: 'Dela Gothic One';
}

body{
    margin: 0;
    font-family: var(--font-family-base), sans-serif;
    color: var(--color-black);
}

h2, h3 {
    font-family: var(--font-family-accent), sans-serif;
}

button {
    cursor: pointer;
    font-family: var(--font-family-base), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 32px;
    border-radius: 20px;
    align-items: center;
    border: none
}

.container{
    max-width: 1160px;
    padding: 0 20px;
    margin: auto;
}

/* секция "о бренде" */
.about-brand-section {
    background-image: url('../../public/assets/images/AboutBrandBackground.png');
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--color-black-35); /* применение цветового фильтра повверх изображения */
    background-blend-mode: overlay;
    position: relative;
}

/* шапка внутри секции "о бренде" */
.header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
    color: var(--color-white);
}

.header-menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin: 0;
    padding: 0;
}

.header-menu-link {
    text-decoration: none;
    color: currentColor;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-wrap: nowrap;
    margin: 0 3px;
    padding: 23px 0;
    display: inline-block;
}

.header-menu-item.active .header-menu-link {
    padding-bottom: 3px;
    border-bottom: 1px solid currentColor;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    height: 21px;
}

.header-actions-item{
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-white);
    border-radius: 50%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-actions-item-switch{
    background-color: var(--color-white);
    border-radius: 15px;
    height: 100%;
    width: 58px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.language-switch {
    height: 100%;
    position: relative;
    background-color: var(--color-white);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    color: var(--color-black);
    user-select: none;
}

.language-label {
    margin: 0;
    z-index: 2;
}

.language-label.active {
    color: var(--color-white);
}

.language-indicator {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--color-green);
    border-radius: 15px;
    left: 0;
    transition: transform 0.2s;
    z-index: 1;
}

.language-indicator.right {
    transform: translateX(calc(100%));
}

.about-brand{
    margin: 0;
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.about-brand-title{
    text-wrap: nowrap;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.about-brand-subtitle{
    margin: 0;
    justify-self: start;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.about-brand-button{
    margin-top: 60px;
    width: 169px;
    background-color: var(--color-white);
}

.process-steps-section{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 40px;
}

.title-process-steps-section{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    max-width: 285px;
    line-height: 32px;
    margin:0;
}

.description-process-steps-section{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 570px;
    margin: 0;
}

.button-process-steps-section{
    background-color: var(--color-green);
    color: var(--color-white);
    width: max(169px, 188px);
    align-self: center;
}

.button-camera-icon{
    margin-left: 5px;
}

.process-steps-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.brand-cycle-card {
    height: 100px;
    width: 373px;
    display: flex;
    align-items: center;
    align-content: start;
    padding: 20px;
    box-sizing: border-box;
    column-gap: 20px;
}

.brand-cycle-card.with-image{
    background-image: url(../../public/assets/images/cylces-border-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.brand-cycle-card.with-border{
    border-radius: 16px;
    border: 1px solid var(--color-white-alternate);
}

.number-cycle-card{
    height: 60px;
    width: 60px;
    position: relative;
}

.number-cycle{
    color: var(--color-green);
    font-family: var(--font-family-accent), sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.name-cycle-card{
    text-align: start;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.benefits-section{
    margin-top: 60px;
}

.benefits-title{
    max-width: 325px;
    margin: 0 0 30px;
    color: var(--color-green-dark);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.benefit-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.benefit-card{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    max-width: 570px;
}

.benefit-card-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.benefit-card-description{
    flex-grow: 1;
    padding: 25px 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    margin: -25px 0 0;
    background-color: var(--color-white);
    z-index: 2;
    border: 1px solid var(--color-white-alternate);
    border-radius: 16px;
    white-space: pre-line;
    line-height: 20px;
}

.services-section{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 40px;
}

.service-card-title{
    max-width: 197px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.service-card-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.service-card-list-item::before {
    display: block;
    content: "•";
    color: black;
    margin-right: 10px;
}

.service-card-list-item{
    display: flex;
    max-width: 302px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
}

.service-card-list-item:last-child {
    margin-bottom: 0;
}

.mission-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max(290px, 400px);
    margin-top: 60px;
}

.mission-section{
    background-color: var(--color-green);
    border-radius: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
    align-items: center;
    text-align: center;
}

.mission-title{
    max-width: 668px;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}

.mission-section p:first-child{
    max-width: 485px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.mission-section p:last-child{
    max-width: 374px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.values-section{
    overflow: hidden;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.value-card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
}

.value-card-image{
    height: 95px;
}

.value-card-title{
    margin: 0;
    max-width: 251px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.value-card-description{
    max-width: 251px;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.team-block {
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    padding-top: 60px;
    height: 1000px;
    background-color: var(--color-green-light);
}

.team-block::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../public/assets/images/team-background-circles.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: -1;
}


.team-section{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    row-gap: 30px;
}

.team-section-title{
    margin:0;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.team-section-description{
    margin:0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 531px;
}

.team-section-selector{
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    column-gap: 20px;
}

.team-selector-button{
    flex-shrink: 0;
    cursor: pointer;
    background-color: transparent;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 3px solid #FFF;
    overflow: hidden;
}

.team-selector-button.isSelected{
    border-width: 5px;
}

.team-selector-button-image{
    margin-top: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 90px;
    background-position-x: center;
    background-position-y: bottom;
}

.selected-person-image{
    z-index: -2;
    margin-left: 12%;
}

.selected-person-bio{
    margin-bottom: 13%;
}

.team-section-selected-person{
    column-gap: 14.6%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-person-name{
    margin: 0;
    font-family: var(--font-family-accent), sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.selected-person-position{
    margin: 10px 0 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.selected-person-quote{
    margin: 30px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.partner-ship-section{
    margin-top: 100px;
    margin-bottom: 120px;
}

.partner-ship-title{
    margin: 0 0 30px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.partner-ship-title::before {
    content: "Партнёрство";
}

.partner-ship-content {
    border-radius: 32px;
    border: 1px solid var(--color-white-alternate);
    padding: 6.05% 6.9%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.3%;
    overflow: hidden;
}

.partner-ship-contact-actions{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.description-contact-actions{
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.title-contact-actions{
    margin: 7.2% 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--color-green-dark);
}

.actions-buttons{
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}

.actions-buttons > button{
    background: var(--color-green);
    width: 228px;
    color: var(--color-white);
}

.social-media-buttons{
    display: flex;
    column-gap: 12px;
    justify-content: space-between;
}

.social-media-buttons a {
    align-content: center;
}

.partner-ship-contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 440px;
}

.contact-form-title{
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.contact-form-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.contact-form-inputs > .contact-form-input-block:first-child,
.contact-form-inputs > .contact-form-input-block:last-child {
    grid-column: span 2;
}


.contact-form-input-block{

}

.contact-form-input-block > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}

.contact-form-input-block > input{
    outline: none;
    padding: 3px 0;
    border: none;
    border-bottom: 2px solid var(--color-gray-80);
    width: 100%;
}

.contact-form-input-block > input::placeholder{
    color: var(--color-gray-80);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

.contact-form-submit{
    display: flex;
    align-items: center;
}

.contact-form-submit > button{
    flex-shrink: 0;
    background: var(--color-green);
    color: var(--color-white);
    width: 130px;
    margin-right: 6.8%;
}

.contact-form-submit > input{
    align-self: start;
}

.contact-form-submit > p {
    color: var(--color-gray-60);
    text-wrap: wrap;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    margin: 0;
}

.footer-content{
    min-height: 128px;
    border-top: 1px solid var(--color-gray-10);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-content > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    color: var(--color-gray-50);
    margin: 0;
}

.footer-content-second > button {
    color: var(--color-gray-50);
    border: 1px solid var(--color-gray-30);
    border-radius: 20px;
    background: transparent;
    width: 206px;
    height: 24px;
}

.footer-content-second > div {
    display: flex;
}

@media (max-width: 960px){

    button{
        height: 36px;
    }

    .container {
        max-width: 960px;
    }

    .header-logo-image{
        width: 99px;
        height: 25px;
    }

    .header-menu-list{
        column-gap: 20px;
    }

    .header-menu-link{
        font-size: 14px;
    }

    .header-actions{
        height: 23px;
    }

    .about-brand-section{
        height: 600px;
    }

    .process-steps-section{
        margin-top: 60px;
    }

    .benefit-card-description{
        font-size: 18px;
        padding: 20px 30px;
    }

    .services-section{
        margin-top: 85px;
    }

    .service-card-image{
        max-height: 50px;
    }

    .service-card-title{
        font-size: 18px;
    }

    .service-card-list-item{
        font-size: 18px;
    }

    .mission-block{
        height: max(290px, 328px);
    }

    .mission-title{
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        max-width: 606px;
    }

    .mission-section p{
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .values-section{
        margin-top: 40px;
        column-gap: 1%;
    }

    .value-card-image{
        height: 90px
    }

    .value-card-title{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        max-width: 225px;
    }

    .value-card-description{
        max-width: 230px;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .team-block {
        display: none;
    }

    .partner-ship-section{
        margin-bottom: 50px;
    }

    .partner-ship-content{
        padding: 4.8% 3.2%;
        border-radius: 16px;
    }

    .title-contact-actions{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
    }

    .description-contact-actions{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .contact-form-title{
        display: none;
    }
}